<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="ugh, hi." name="description">
        <meta content="Makeup Webcam" name="title">
        <title>Face Detection</title>
        <style>
         #container {
             margin: 0px auto;
             border: 10px #333 solid;
         }
         #videoElement {
             width: 640px;
             height: 480px;
             display: none;
             background-color: #666;
         }

         #imageElement {
             width: 640px;
             height: 480px;
             background-color: #666;
         }

         #canvasElement {
             width: 640px;
             height: 480px;
             border: 1px solid black;
         }
         #photo {
             width: 640px;
             height: 480px;

             border: 1px solid black;
         }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="container">
            <div>
                <video id="videoElement"></video>
                <canvas id="canvasElement"></canvas>
                <img id="photo">
                <div class="controls">
                    <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
                    <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
                    <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
